<h1>All my mash games</h1>

<% @mashes.each do |game| %>
<p>
  NEW GAME!
  <%= game.guest %>
  <%= game.home %>
  <%= game.spouse %>
  <%= game.kids %>
  <%= game.vehicle %>
  <%= game.created_at %>
  <i class="remove circle icon"></i>
</p>

<% end %>
