<h1>All my mash games</h1>

<% @mashes.each do |game| %>
<p>
  <%= game.created_at.strftime ("Saved at %m/%d/%Y")%>
  <%= game.guest %>, you will marry <%= game.spouse %> and live in a fabulous <%= game.home %>! Have fun cruising the town in your <%= game.vehicle %> with <%= game.kids %>kids!

  <i id="nomash" data-id = "<%= game.id %>" class="remove circle icon"></i>
</p>

<% end %>
