<p>
  Here is your MASH game!

  <%= @game["guest"] %>, you will marry <%= @game["spouse"] %> and live in a fabulous <%= @game["home"] %>! Have fun cruising the town in your <%= @game["vehicle"] %> with <%= @game["kids"] %> kids!
</p>
